body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color:rgba(202, 31, 97, 0.526);
    text-align: center;
}

header{
    background-color: dimgray;
}

    
    
main{
    text-align: center;
}
#title{
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0px;
    padding-top: 80px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
  }

.describe{
    font-size: 20px;
    text-align: center;
    margin-bottom: 70px;
    color: #333;

}
@media screen and (min-width: 768px) {
   
    title{
        font-size: 24px;
    }

    
}
img{
    display: flex;
    object-fit: cover;
    width: 100%;
}
#img-div {
    text-align: center;
    background-color: rgba(233, 233, 232, 0.632);
    padding: 30px;
    display: block;
}
#img-caption{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px ;
    font-size: 18px;
    padding:2px;
    

}
.awards h3{
    display: block;
    margin-bottom: 60px;

}
.awards{

    font-family:'Raleway', sans-serif ;
    margin: 0 100px;
    padding: 30px;
    font-size: 20px;
    color: #333;
    
}
.list{
    width: 50%;
    margin: 10px;
    
    
}
.ul{
    
    max-width: 550px;
    margin-right: 100px;
    margin-left: 100px;
    line-height: 1.6rem;
    text-align: left;
   


}
li{
    margin:16px;
    text-align: left;
    padding-right: 50px;
    display: block;
}
#list-wraper{
    display: flex;
    flex-direction: row;
}
#current_date{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 1rem;
    color: white;
    background: rgb(197, 221, 221);
    font-weight: bold;
    display: inline;
    justify-content: space-between;
    align-items: center;

}
footer{
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
.comments{

margin: 30px;
}
.quote{
    padding:15px;
    color:rgb(127, 133, 123);
    background-color: rgba(219, 217, 217, 0.353);
    border-radius: 10px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 50px;
   
}
p{
    margin: 10px;
 
}
@media (max-width:1508px) {

h1{
    font-size:3.5rem;
}
#img-caption{
    font-size: 1.4rem;
}
.comments{
    display: flex;
    flex-direction: row;
}
#list-wrap{
    flex-direction: column;
}

}

@media (max-width:1003px){
    .list{
        display: block;
        width:100%;
    }
    .quote{
        margin: 10px;

    }
    }



@media (min-width:1444px) {
  
#list-wrap{
    display: flex;
}
}
