body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color:rgba(202, 31, 97, 0.526);
}

header{
    background-color: dimgray;
}

main{
    text-align: center;
}
#title{
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0px;
    padding-top: 80px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
  }

.describe{
    font-size: 20px;
    text-align: center;
    margin-bottom: 70px;
    color: #333;

}
#img-div {
    text-align: center;
    background-color: rgba(233, 233, 232, 0.632);
    padding: 30px;
    display: block;
}
#img-caption{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px ;
    font-size: 18px;
    padding:2px;
    

}
.awards h3{
    display: block;
    margin-bottom: 60px;

}
.awards{
    text-align: center;
    font-family:'Raleway', sans-serif ;
    margin:30px;
    padding: 30px;
    font-size: 20px;
    color: #333;
    display: grid;
}
.ul{
    
    max-width: 550px;
    padding-inline-start: 40px;
    margin: 0 auto 50px auto;
    line-height: 1.6;
    
}
li{
    margin: 16px 0;
    text-align:left;
    padding-right: 50px;
}
#current_date{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 1rem;
    color: white;
    background: rgb(197, 221, 221);
    font-weight: bold;
    display: inline;
    justify-content: space-between;
    align-items: center;

}
footer{
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.comments{
display: inline-flex;
margin: 30px;
}
.quote{
    padding:15px;
    color:rgb(68, 74, 65);
}
@media screen and (max-width: 1440px) {

    #image {
        max-width: 90%;
        font-size: 1.2rem;
    }
}
